:root {
    --font-raleway: "Raleway", sans-serif;
    --color-gray: #303030;
    --first-title-color: #ffffff;
    --second-title-color: #303030;
    --first-btn-color: #ffffff;
    --second-btn-color: #303030;
}

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* .section {
    padding-top: 120px;
    padding-bottom: 120px;
} */

.link {
    text-decoration: none;
}

.section-title {
    font-family: var(--font-raleway);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.6666;
    letter-spacing: 0.05em;
}

.uptitle {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

.btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid #ff6c00;
    border-radius: 25px;
    cursor: pointer;
}

/* Header */

.header a {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3333;
    letter-spacing: 0.1em;
    color: #ffffff;
    text-decoration: none;
}

.header {
    background-color: gray;
    padding-top: 32px;
    padding-bottom: 32px;
}

.logo {
}

.header-nav-link {
    text-decoration: none;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #ff6c00;
}

.header-contact {
    /* font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.3333; */
    text-transform: uppercase;
}

/* наслідувати шрифт від батька тут body */
.header-button {
    color: var(--first-btn-color);
}

/* Hero */

.hero-list {
    background-color: #ffffff;
}

.hero-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.3636;
    letter-spacing: 0.2em;
    color: #303030;
}

.hero-link:hover,
.hero-link:focus {
    color: #ff6c00;
}

.hero-wrap {
    background-image: url(../images/hero_image.jpg);
    padding: 272px 100px 208px 100px;
}

.hero-uptitle {
    color: var(--color-gray);
}



/* .hero {
    background-image: url(../images/hero_image.jpg);
} */

.hero .uptitle {
    color: rgba(157, 164, 189, 0.6);
}

.hero-title {
    margin-bottom: 20px;
    font-family: var(--font-raleway);
    font-style: normal;
    font-size: 72px;
    line-height: 1.1805;
    letter-spacing: 0.05em;
    color: var(--first-btn-color);
}

.hero-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6666;
    letter-spacing: 0.02em;
    color: #9da4bd;
}

.about {
    --test: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 120px;
}

.about-list {
}

.about-item {
}

.about-uptitle {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: #303030;
}

.about-title {
    color: var(--second-title-color);
    margin-bottom: 20px;
}

.about-subtitle {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #555555;
}

.about-text {
    margin-bottom: 42px;
    font-size: 14px;
    line-height: 1, 8571;
    letter-spacing: 0.02em;
    color: #555555;
}

.about-btn {
    color: var(--second-btn-color);
}

.prices {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: gray;
}

.prices-uptitle {
}

.prices-title {
}

.prices-list {
    padding: 30px 20px;
    border: 1px solid white;
}

.prices-item {
}

.prices-item-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9da4bd;
}

.prices-btn {
    display: block;
    margin: 0 auto;
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    cursor: pointer;
    color: #ffffff;
}

/* BENEFITS */

.benefits {
    padding-top: 120px;
    padding-bottom: 120px;
}

.benefits-list {
}

.benefits-item {
    padding: 20px 24px;
    width: 170px;
    height: 133px;
    border: 1px solid black;
    text-align: center;;
}

.benefits-count {
    font-weight: 700;
    font-size: 42px;
    line-height: calc(57 / 42);
    text-align: center;
    letter-spacing: 0.05em;
    color: #303030;
}

.benefits-plus {
    font-weight: 600;
    font-size: 16px;
    line-height: calc(22 / 16);
    text-align: center;
    color: #ff6c00;
}

.benefits-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    text-align: center;
    color: #303030;
}

.benefits-uptitle {
    margin-bottom: 20px;
    color: #303030;
}

.benefits-title {
    color: var(--second-title-color);
}

.benefits-subtitle {
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    color: #555555;
}

/* Barbers */

.barbers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.barbers-uptitle {
    margin-bottom: 20px;
    color: #303030;
}

.barbers-title {
    margin-bottom: 44px;
    color: #303030;
}

.barbers-list {
}

.barbers-item {
}

.barbers-item-title {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(25 / 18);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}

.barbers-item-text {
    font-size: 14px;
    line-height: calc(19 / 14);
    text-align: center;
    letter-spacing: 0.02em;
    color: #ff6c00;
}

.barbers-soc-list {
}

.barbers-soc-link {
}

/* Galary */

.gallery {
}
.gallery-uptitle {
    color: #303030;
}
.gallery-list {
}
.gallery-item {
}

/* Contacts */

.contacts {
    background-color: gray;
}
.contacts-title {
    color: var(--first-title-color);
}
.section-title {
}
.contacts-address {
    font-style: inherit;
}
.contacts-list {
}
.contacts-item {
}
.contacts-link {
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    color: #9da4bd;
}

.contacts-link-bold {
    font-weight: 700;
}

.contacts-shedule-title {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    text-transform: uppercase;
    color: #ffffff;
}
.contacts-shedule-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9da4bd;
}

.footer {
    padding-top: 56px;
    padding-bottom: 56px;
}
