:root {
    --font-raleway: "Raleway", sans-serif;
    --color-gray: #303030;
    --first-title-color: #ffffff;
    --second-title-color: #303030;
    --first-btn-color: #ffffff;
    --second-btn-color: #303030;
}

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    /* padding-top: 32px; */
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.link {
    text-decoration: none;
}

.section-title {
    font-family: var(--font-raleway);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.6666;
    letter-spacing: 0.05em;
}

.uptitle {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 20px;
}

/* line before headers */
.uptitle::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
}

/* site buttons */
.btn {
    min-width: 160px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #ff6c00;
    border-radius: 25px;
    cursor: pointer;
}

/* Header */

.header {
    outline: 1px solid blue;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 32px;
    /* background-color: rgb(73, 75, 70); */
    z-index: 100;
}

.header-container {
    display: flex;
    align-items: center;
}

.site-logo-link {
    margin-right: 131px;
}

.site-logo-icon {
    width: 69px;
    height: 55px;
    fill: #303030;
}

.navigation {
    margin-right: auto;
}

.header-nav {
    display: flex;
    gap: 30px;
    /* задає відступи між елементами */
}

.header-nav-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3333;
    letter-spacing: 0.1em;
    color: #ffffff;
    text-decoration: none;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #ff6c00;
}

.header-contact {
    margin-left: auto;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

/* наслідувати шрифт від батька тут body */
.header-button {
    margin-left: 40px;
    margin-right: 20px;
    color: var(--first-btn-color);
}

/* Hero */
.hero {
}

.hero-container {
    position: relative;
    display: flex;
    
}

.hero-list-container {
    width: 280px;
    height: 15px;
    margin: 50px;
    position: absolute;
    bottom: -40px;
    left: 0;
    transform: rotate(-90deg);
    transform-origin: top left;
    outline: 1px solid orange;
}

.hero-list {
    display: flex;
}

.hero-item {
    display: flex;
    align-items: center;
    align-content: center;
}

.hero-item:not(:first-child) {
    margin-left: 40px;
}

.hero-item:first-child::before {
    content: '';
    margin-right: 40px;
    display: block;
    width: 60px;
    height: 1px;
    background-color: currentColor;
}

.hero-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.3636;
    letter-spacing: 0.2em;
    color: #303030;
}

.hero-link:hover,
.hero-link:focus {
    color: #ff6c00;
}

.hero-wrap {
    margin-left: 100px;
    background-image: linear-gradient(
     rgba(25, 28, 38, 0.2),
     rgba(25, 28, 38, 0.2)
     ),
     url(../images/hero_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 272px 100px 208px 100px;
    flex-grow: 1;
}

.hero-uptitle {
    color: var(--color-gray);
}

.hero .uptitle {
    color: rgba(157, 164, 189, 0.6);
}

.hero-title {
    margin-bottom: 20px;
    font-family: var(--font-raleway);
    font-style: normal;
    font-size: 72px;
    line-height: 1.1805;
    letter-spacing: 0.05em;
    color: var(--first-btn-color);
    display: flex;
    align-items: baseline;
}

/* .hero-title::before {
    content: '';
    width: 40px;
    height: 40px;
    background-image: url(../images/copyright.svg);
    background-repeat: no-repeat;
    background-color: #ffffff;
} */

.hero-subtitle {
    max-width: 360px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6666;
    letter-spacing: 0.02em;
    color: #9da4bd;
}

.about {
    --test: #ffffff;
    padding-top: 120px;
    padding-bottom: 120px;
}

.about-container {
    display: flex;
    gap: 30px;
}

.about-list {
    display: flex;
    gap: 30px;
}

.about-item {
}

.about-wrap {
    max-width: 470px;
}

.about-uptitle {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: #303030;
}

.about-title {
    color: var(--second-title-color);
    margin-bottom: 20px;
}

.about-subtitle {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #555555;
}

.about-text {
    margin-bottom: 42px;
    font-size: 14px;
    line-height: 1, 8571;
    letter-spacing: 0.02em;
    color: #555555;
}

.about-btn {
    color: var(--second-btn-color);
}

.prices {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #111319;
    background-image: url(../images/prices_background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
}

.prices-uptitle {
}

.prices-title {
    margin-bottom: 20px;
}

.prices-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.prices-list {
    padding: 30px 20px;
    border: 1px solid white;
    margin-bottom: 44px;
    width: calc((100% - 30px) / 2);
}

.prices-list:first-child {
    background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-list:last-child {
    background-image: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: baseline;
    gap: 12px;
}

.prices-item::before {
    content: '';
    width: 100px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.12);
    flex-grow: 1;
}

.prices-item:last-child {
    margin-bottom: 0;
}

.prices-item-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9da4bd;
}

.prices-item-text:first-child {
    order: -1;
}

.prices-btn {
    display: block;
    margin: 0 auto;
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    cursor: pointer;
    color: #ffffff;
}

/* BENEFITS */

.benefits {
    padding-top: 120px;
    padding-bottom: 120px;
}

.benefits-container {
    display: flex;
    padding-left: 115px;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    width: 370px;
    flex-shrink: 0;
}



.benefits-item {
    padding: 20px 24px;
    width: 170px;
    height: 133px;
    background-color: #f7f7f7;
    text-align: center;
    
}

.benefits-item:nth-child(odd) {
    margin-right: 30px;
}

.benefits-item:nth-child(even) {
    margin-top: 30px;
}

.benefits-count {
    font-weight: 700;
    font-size: 42px;
    line-height: calc(57 / 42);
    text-align: center;
    letter-spacing: 0.05em;
    color: #303030;
}

.benefits-plus {
    font-weight: 600;
    font-size: 16px;
    line-height: calc(22 / 16);
    text-align: center;
    color: #ff6c00;
    vertical-align: top;
    display: inline-block;
    padding-top: 11px;
}

.benefits-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    text-align: center;
    color: #303030;
}

.benefits-uptitle {
    margin-bottom: 20px;
    color: #303030;
}

.benefits-title {
    color: var(--second-title-color);
}

.benefits-subtitle {
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    color: #555555;
}

.benefits-wrap {
    max-width: 500px;
    padding-top: 9px;
}

/* Barbers */

.barbers {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #F7F7F7;
}

.barbers-uptitle {
    margin-bottom: 20px;
    color: #303030;
}

.barbers-title {
    margin-bottom: 44px;
    color: #303030;
}

.barbers-list {
    display: flex;
    gap: 30px;
}

.barbers-item {
    width: calc((100% - 60px) / 3);
    /* коли не загруз картинка місце не схлопнеться */
}

.barbers-item-title {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(25 / 18);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}

.barbers-item-text {
    font-size: 14px;
    line-height: calc(19 / 14);
    text-align: center;
    letter-spacing: 0.02em;
    color: #ff6c00;
    margin-bottom: 30px;
}

/* ################### start barbers social links ################### */

.barbers-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.barbers-soc-item {
    width: 44px;
    height: 44px;
}

.barbers-soc-link {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.barbers-soc-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.barbers-soc-icon:hover,
.barbers-soc-link:focus .barbers-soc-icon {
    fill: #FF6C00;     
}

/* ################### end barbers social links ################### */




/* Galary */

.gallery {
    padding-top: 120px;
    padding-bottom: 120px;
}

.gallery-uptitle {
    margin-bottom: 44px;
    color: #303030;
}
.gallery-list {
    display: flex;
    /* gap: 30px; */
    /* gap це відступ між елементами замість ітнм + ітем , він вирішує питання відємних маржинівҐ!!!!!!!!!!!!!!!!!!*/
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 40px;
}
.gallery-item {
    width: calc((100% - 90px) / 4);
}



.online {
    width: calc(50% + 15px);
    padding-top: 130px;
}

.online-title {
    color: white;
    margin-bottom: 44px;

}



/* Contacts */

.contact-wrap {
    background-color: #000000;
    background-image: url(../images/contacts_background.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: calc(50% - 15px) 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.contact-wrap > .container {
    display: flex;
}

.contacts {
    width: calc(50% - 15px);
    padding-top: 130px;
    padding-bottom: 120px;
    padding-left: 100px;
}
.contacts-title {
    color: var(--first-title-color);
}
.section-title {
}
.contacts-address {
    font-style: inherit;
    margin-bottom: 70px;
}

.contacts-list {
}

.contacts-item:not(:last-child) {
    margin-bottom: 20px;
}

.contacts-link {
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    color: #9da4bd;
}

.contacts-link-bold {
    font-weight: 700;
}

.contacts-shedule-title {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    text-transform: uppercase;
    color: #ffffff;
    display: inline;
    margin-bottom: 20px;
}
.contacts-shedule-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9da4bd;
}

.footer {
    padding-top: 56px;
    padding-bottom: 56px;
}

.footer-container {
    display: flex;
}

.footer-contacts-list {
    display: flex;
    margin-left: auto;
}
