* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    /* padding-top: 32px; */
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}